
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
    ViewData["AppTitle"] = "SYSTEMA VENTAS";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<style>
    .img-centered {
        /*margin-top: 104px;
        margin-left: 303px;*/
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    @if (bool.Parse(Configuration.GetSection("Sandbox").GetSection("Enabled").Value))
    {
        <text>
        body {
                padding-top: 0px;
            }

        .alert {
                border: 2px solid #3c763d;
            border-radius: 0px;
            }
        </text>
    }
</style>
@if (bool.Parse(Configuration.GetSection("Sandbox").GetSection("Enabled").Value))
{
    <div class="alert alert-success row text-center" style="min-height:50px !important;" role="alert">
        <span><b>AMBIENTE SANDBOX SYSTEM</b></span>
    </div>
}


