<p>
    Al registrarse en alguno de los sitios de dominio de Administradora San Juan S.A (en adelante, "ASJ"), EL USUARIO deberá brindar información personal, prestando su consentimiento para que la misma sea almacenada una BASE DE DATOS, de titularidad de ASJ, registrada ante la Dirección Nacional de Protección de Datos Personales (DNPDP), dependiente del Ministerio de Justicia, Seguridad y Derechos Humanos Sarmiento 1118, 5to. Piso (CP1041aax); tel. 4383-8510/12/13/15; www.jus.gov.ar/datospersonales/ - infodnpdpa@jus.gov.ar.
</p>
<p>
    EL USUARIO presta su consentimiento para que ASJ realice operaciones y procedimientos sistemáticos, electrónicos o no, que permitan la recolección, conservación, ordenación, almacenamiento, modificación, evaluación, bloqueo, cesión y en general, el procesamiento de sus DATOS PERSONALES (en adelante TRATAMIENTO DE DATOS PERSONALES).
</p>
<p>
    El USUARIO garantiza que los Datos Personales facilitados a ASJ son veraces y se hace responsable de comunicar a ésta cualquier modificación en los mismos.
</p>


<p>
    La finalidad de la recogida y TRATAMIENTO de los Datos Personales es la que se detalla a continuación:
    <ul>
        <li>Para poder realizar la correcta prestación de los servicios brindados por ASJ.</li>
        <li>Para habilitar su participación en promociones, premios o concursos en línea.</li>
        <li>Para el desarrollo de nuevos productos y servicios que satisfagan las necesidades del USUARIO.</li>
        <li>Para contactarse, vía mail o telefónicamente, con el USUARIO a fin de relevar opiniones sobre el servicio y para informar sobre productos y servicios de cualquiera de los sitios o productos de ASJ.</li>
    </ul>
</p>
<p>
    ASJ podrá contratar a terceros para el tratamiento de Datos Personales.
</p>
<p>
    La BASE DE DATOS cuenta con las medidas técnicas y procedimentales conforme a la Ley Nº 25.326 de Hábeas Data y el marco legal vigente, incluyendo las disposiciones de la DNPDP, a fin de evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados a ASJ. Ello no obstante, el USUARIO debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables. Por tal motivo, debe tener presente que siempre que divulguen voluntariamente información personal online, ésta puede ser recogida y utilizada por otros. Por lo tanto, si bien ponemos nuestro mayor esfuerzo por proteger su información personal, ASJ no será responsable por la difusión de los datos personales de nuestros visitantes efectuada por fuentes ajenas a ésta ni será responsable por los daños y perjuicios que la misma genere.
</p>
<p>
    ASJ se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria.
</p>
<p>
    Se deja expresamente aclarado que ciertos Servicios prestados por éste sitio u otros sitios vinculados pueden contener Condiciones Particulares con previsiones específicas en materia de protección de Datos Personales.
</p>
<p>
    El USUARIO podrá ejercer sus derechos de información, acceso, rectificación, oposición y cancelación de sus datos personales almacenados en nuestra BASE DE DATOS, mediante solicitud formal escrita enviada a Cerrito 740 Ciudad de Buenos Aires C1010AAP
</p>
